name: user-authentication

services:
  db:
    container_name: user-authentication
    image: postgres:alpine
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: user-authentication
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data:


