@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #ddd;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

